<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add some skills</h1>
    <form action="/skills" method="POST">
        <input name='name' placeholder='Name'type="text"><br>
        <input name='level' placeholder='Level'type='text'><br>
        <input name='yearsOfExperience' placeholder='Years Of Experience'type="number"><br>
        <button type="submit">Add your skills</button>
    </form>
</body>
</html>